@import "../../styles/sass/global/boilerplate";

.projects-container{
    width: 80%;
    margin: 10vh auto;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap:2rem;

    .link{
        color: $secondary-color;
    }

}

@media screen and (max-width: 762px){
    .projects-container{
        margin-top: 6vh;
        grid-template-columns: 1fr;
    }
}