* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: #1B2430;
  color: #e84855;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.link {
  text-decoration: none;
}
.link:focus, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: #1B2430;
  color: #e84855;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.link {
  text-decoration: none;
}
.link:focus, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F9DC5C;
  padding: 1rem;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem 0;
  gap: 5rem;
  font-size: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
}
.header .link {
  color: #F9DC5C;
}

@media screen and (max-width: 480px) {
  .header {
    height: 20vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: #1B2430;
  color: #e84855;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.link {
  text-decoration: none;
}
.link:focus, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

.projects-container {
  width: 80%;
  margin: 10vh auto;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.projects-container .link {
  color: #e84855;
}

@media screen and (max-width: 480px) {
  .projects-container {
    margin-top: 16vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: #1B2430;
  color: #e84855;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.link {
  text-decoration: none;
}
.link:focus, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #F9DC5C;
  border-radius: 10px;
  transition: 0.5s;
  padding: 1rem;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: -5px -5px 10px 0 black, 5px 5px 10px 0 black;
  color: #F9DC5C;
}/*# sourceMappingURL=styles.css.map */