* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: #041C32;
  color: #e84855;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.link {
  text-decoration: none;
}
.link:focus, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: #041C32;
  color: #e84855;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.link {
  text-decoration: none;
}
.link:focus, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

.header {
  background-color: #041C32;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  border: 2px solid #ecb365;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}
.header .logo {
  flex-basis: 15%;
  padding: 0 1rem;
  position: absolute;
}
.header nav {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem 0;
  gap: 5rem;
  font-size: 2rem;
}
.header nav .link {
  color: #ecb365;
}
.header .menu-btn {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: 2rem;
  color: #e84855;
  z-index: 12;
  display: none;
}

@media screen and (max-width: 762px) {
  .header {
    width: 100%;
    z-index: 100;
  }
  .header .logo {
    font-size: 2rem;
    margin-left: 2rem;
  }
  .header nav {
    position: absolute;
    top: 0;
    background-color: #041C32;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border: 2px solid #ecb365;
    transform: translateY(-100%);
    transition: 0.5s;
    margin-left: 0;
  }
  .header nav.responsive-navbar {
    transform: none;
  }
  .header .show-menu {
    display: inline-block;
    transition: 0.5s;
  }
  .header .hide-menu {
    display: inline-block;
    transition: 0.5s;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: #041C32;
  color: #e84855;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.link {
  text-decoration: none;
}
.link:focus, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

.projects-container {
  width: 80%;
  margin: 10vh auto;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.projects-container .link {
  color: #e84855;
}

@media screen and (max-width: 762px) {
  .projects-container {
    margin-top: 6vh;
    grid-template-columns: 1fr;
    z-index: -1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background-color: #041C32;
  color: #e84855;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.link {
  text-decoration: none;
}
.link:focus, .link:hover, .link:visited, .link:link, .link:active {
  text-decoration: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ecb365;
  border-radius: 10px;
  transition: 0.5s;
  padding: 1rem;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: -5px -5px 10px 0 black, 5px 5px 10px 0 black;
  color: #ecb365;
}/*# sourceMappingURL=styles.css.map */